/* google fonts */
/* primary fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* secondary fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-title-size: 2.5rem;
  --normal-text-size: 1.03rem;
  --primary-font-color: rgba(0, 0, 0, 0.5);
  --secondary-font-color: rgba(0, 0, 0, 1);
  --tertiary-font-color: rgba(233, 90, 8, 1);
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Noto Serif", serif;
  --primary-font-weight: normal;
  --secondary-font-weight: bold;
}

.second-title {
  font-size: var(--font-title-size);
  font-weight: var(--secondary-font-weight);
  font-family: var(--secondary-font-family);
}

.span-color {
  color: var(--tertiary-font-color);
}

.paragraph {
  font-size: var(--normal-text-size);
  color: var(--primary-font-color);
}

.btn {
  background-color: var(--tertiary-font-color);
  color: white;
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  padding: 10px 25px;
  border: none;
}

body img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  /* width: 1140px; */
  /* background-color: red; */
  /* width: 1140px; */
  margin: 15px 150px 0 150px;
}

nav .logo img {
  width: 100px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

.active {
  color: var(--secondary-font-color);
}

nav ul li a {
  text-decoration: none;
  padding-right: 48px;
  color: var(--primary-font-color);
}

nav ul button {
  background-color: transparent;
  border: none;
}

nav ul button i {
  margin-right: 10px;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 150px;
  max-width: 1140px;
  margin-top: 120px;
}

.home-content h1 {
  font-size: 2.9rem;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
}

.home-content p {
  font-size: var(--normal-text-size);
  color: var(--primary-font-color);
}

.home-content span {
  color: var(--tertiary-font-color);
}

.home-content .image img {
  width: 100%;
}

.plants {
  text-align: center;
  margin-top: 120px;
  max-width: 1140px;
  padding: 0 150px;
}

.plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.plants h2,
.plants p,
.plants .plants-card {
  margin-bottom: 20px;
}

.plants h2 {
  font-weight: var(--primary-font-weight);
  font-size: var(--normal-text-size);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
}

.plants p {
  font-weight: var(--secondary-font-weight);
}

.flower-plants-lover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 150px;
  max-width: 1140px;
  margin-top: 120px;
  gap: 80px;
  background-color: red;
}

.flower-plants-lover .img {
  position: relative;
}

.flower-plants-lover .img .second-img {
  position: absolute;
  top: -90px;
  right: -85px;
  width: 200px;
}
